body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: rgb(42, 47, 58);
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

ul {
  width: 50%;
  padding: 0;
}

li {
  list-style: none;
  padding: 2px;
}

li.selected {
  background-color: #4F5A65;
  color: #fff;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
